<div class="body text-center">
  <form class="form-signin" [formGroup]="form">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      formControlName="email"
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      required
      email
      autofocus
    />
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      formControlName="password"
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      required
    />
    <a [routerLink]="['../login']">Login</a>
    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      (click)="register$()"
    >
      Sign in
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</div>
