$primary-very-light: #b6c5cd;
$primary-light: #557989;
$primary: #0c3f57;
$primary-dark: #083146;
$primary-very-dark: #031b2c;

$accent-very-light: #ccecdf;
$accent-light: #87d2b3;
$accent: #54be93;
$accent-dark: #43af80;
$accent-very-dark: #299964;
