<div class="body text-center">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">App Title</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
          <a class="nav-link" [routerLink]="['/account/login']">Login</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Page not found</h1>
      <p class="lead">Good job, idiot.</p>
      <img src="https://media.giphy.com/media/y4E6VumnBbIfm/giphy.gif">
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Built by <a href="https://github.com/SophieMcCall" target="_blank" rel="noopener noreferrer">Sophie McCall</a></p>
      </div>
    </footer>
  </div>
</div>
