<div class="modal-header">
  <h4 class="modal-title">Edit Article</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="imageUrl">Image URL</label>
        <input type="text" class="form-control" id="imageUrl" placeholder="Image URL" formControlName="imageUrl">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="excerpt">Excerpt</label>
        <input type="text" class="form-control" id="excerpt" placeholder="Excerpt" formControlName="excerpt">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="body">Body</label>
        <input type="text" class="form-control" id="body" placeholder="Body" formControlName="body">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="close()">Close</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
